{{#each equipments.[4].routers}}
   <div class="modal modalAboutAlmond aboutAlmond aboutAlmond" id="about_almond-{{id}}"
        tabindex="-1">
      <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
            <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"></button>

            <div class="aboutAlmond__wrapp">
               <div class="aboutAlmond__img">
                  <img src="img/pic/{{img}}" alt="{{img}}">
               </div>
               <div class="aboutAlmond__text">
                  <h2 class="aboutAlmond__title">{{name}}</h2>

                  <div class="aboutAlmond__params">

                     {{#each params}}
                        <div class="aboutAlmond__param">
                           <div class="aboutAlmond__param-img">
                              <img src="img/svg/{{icon}}" alt="{{icon}}">
                           </div>
                           <div class="aboutAlmond__param-text">{{{text}}}</div>
                        </div>
                     {{/each}}
                  </div>

                  <div class="aboutAlmond__switch item-option">
                     <label>
                        <div class="switch">
                           <input type="checkbox">
                           <span class="round"></span>
                        </div>
                        <div class="item-option__text">
                           <p>Аренда Wi-Fi роутера</p>
                           <span class="item-option__num">{{price}}</span><span> ₽ в месяц</span>
                        </div>
                     </label>

                     <div class="aboutAlmond__counter counter">
                        <div class="counter__minus">-
                        </div>
                        <input type="text" readonly value="1">
                        <div class="counter__plus">+
                        </div>
                     </div>

                  </div>

                  <div class="download-pdf">
                     <a href="#" class="download-pdf__icon">
                        <img src="img/svg/download-pdf.svg" alt="img">
                     </a>
                     <div class="download-pdf__text">
                        <a href="#">Скачать подробную информацию</a><br> <span>(PDF, 0.4 MB)</span>
                     </div>
                  </div>
               </div>
            </div>

         </div>
      </div>
   </div>
{{/each}}
