{{#each equipments.[4].sensors}}
   <div class="modal modalAboutAlmond aboutSensor" id="about_sensor-{{id}}" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
            <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"></button>

            <div class="aboutSensor__wrapp">
               <div class="aboutSensor__img">
                  <img src="img/pic/{{img}}" alt="{{img}}">
               </div>
               <div class="aboutSensor__text">
                  <h2 class="aboutSensor__title">{{name}}</h2>

                  <p class="aboutSensor__desc">{{desc}}</p>

                  <div class="aboutSensor__switch item-option">
                     <label>
                        <div class="switch">
                           <input type="checkbox">
                           <span class="round"></span>
                        </div>
                        <div class="item-option__text">
                           <p>Аренда {{deviceName name}}</p>
                           <span class="item-option__num">{{price}}</span><span> ₽ в месяц</span>
                        </div>
                     </label>

                     <div class="aboutSensor__counter counter">
                        <div class="counter__minus">-
                        </div>
                        <input type="text" readonly value="1">
                        <div class="counter__plus">+
                        </div>
                     </div>

                  </div>

                  <div class="download-pdf">
                     <a href="#" class="download-pdf__icon">
                        <img src="img/svg/download-pdf.svg" alt="img">
                     </a>
                     <div class="download-pdf__text">
                        <a href="#">Скачать подробную информацию</a><br> <span>(PDF, 0.4 MB)</span>
                     </div>
                  </div>
               </div>
            </div>

         </div>
      </div>
   </div>
{{/each}}
