<section class="unite-wrapper">
   <div class="unite unite-check-address wrapper">
      <div class="unite-address">
         <div id="addressCheckHead">
            <p class="unite-address__title">
               Проверь возможность
               <nobr>подключения по твоему</nobr>
               адресу
            </p>
            <form id="CHKADR" name="address" class="unite-address__input">
               <div>
                  <input type="text" id="addressCheck" name="address" placeholder="Адрес">
                  <label class="error" for="addressCheck">Выберите адрес дома из выпадающего списка!</label>
               </div>
               <button type="submit" class="btn" data-view="block_checkaddress">Проверить</button>
            </form>
         </div>

         <div class="unite-address__offer">
            <p>
               К сожалению, мы пока не можем подключить ваш дом к домашнему интернету. <br>
               Но по адресу <b></b> доступно
               <span onclick="toPlug('#unite')" class="underline">специальное предложение</span>
               на беспроводной интернет:
            </p>
            <span class="link" onclick="hideResult()">Изменить адрес</span>
         </div>

         <div class="success-check">
            <img src="img/svg/success.svg" alt="img">
            <p>Подключение по адресу <b>адрес</b> Возможно!</p>
            <span class="link" onclick="hideResult()">Изменить адрес</span>
            <button class="btn"
                    data-toggle="modal"
                    data-target="#order"
                    onclick="openOrder('address_success')"
            >Отправить заявку
            </button>
         </div>

         <div class="unite__router" id="unite">
            <div class="unite__to-plug">
               <h2>Мобильная связь, домашний интернет и ТВ на 4G+ скоростях со скидкой 40% навсегда</h2>
               <p>
                  Пользуйтесь самым быстрым интернетом дома, даже когда недоступен проводной интернет. Берите роутер с
                  собой и пользуйтесь Wi-Fi дома, на даче или у друзей.
               </p>
            </div>

            <div class="unite-row">

               {{#each tariffs}}
                  {{#h-if id '===' 'around'}}
                     <div class="unite__params">
                        <div class="unite__params-title">
                           <h2>Объединяй! {{name}}</h2>
                        </div>
                        <div class="unite-info-row">
                           <div class="unite-info">
                              <p class="unite-info__title">Беспроводной интернет и ТВ</p>
                              <div class="unite-info__desc">
                                 <div class="unite-info__desc_icon">
                                    <img src="./img/svg/wi-fi.svg" alt="wi-fi">
                                 </div>
                                 {{speed}} Мбит/с
                              </div>
                              <div class="unite-info__desc desk-channels">
                                 <div class="unite-info__desc_icon">
                                    <img src="./img/svg/tv.svg" alt="tv">
                                 </div>
                                 <a href="#">{{tvLength}}</a>
                              </div>
                           </div>
                           <div class="unite-info">
                              <p class="unite-info__title">Мобильная связь</p>
                              <div class="unite-info__desc desk-mobile">
                                 <div class="unite-info__desc_icon">
                                    <img src="./img/svg/mobile.svg" alt="mobile">
                                 </div>
                                 <div>
                                    <p>{{min}} минут</p>
                                    <p>Безлимит на МегаФон России</p>
                                 </div>
                              </div>
                              <div class="unite-info__desc">
                                 <div class="unite-info__desc_icon">
                                    <img src="./img/svg/4g.svg" alt="4g">
                                 </div>
                                 Безлимитный интернет
                              </div>
                           </div>
                        </div>

                        <div class="unite-checkbox">
                           <div class="unite-checkbox__hire item-option">
                              <label>
                                 <div class="switch">
                                    <input checked onchange="calcRadio.sum('#unite', 0)" type="checkbox">
                                    <span class="round"></span>
                                 </div>
                                 <div class="switch-text">
                                    <p>Аренда 4G Wi-Fi роутера</p>
                                    <span class="item-option__num">{{../unite.price}}</span> <span>₽ в месяц</span>
                                 </div>
                              </label>
                           </div>
                        </div>

                        <div class="unite__links">
                           <a href="#">Скачать подробную информацию</a>
                           <span data-target="#{{../unite.id}}"
                                 data-toggle="modal"
                                 onclick="analytics('details_vezde_ntv')"
                           >Технические характеристики</span>
                        </div>

                        <div class="unite-order">
                           <div data-toggle="modal" data-target="#order" class="btn" data-view="block_vezde_ntv"
                                onclick="openOrder(
                                   '{{../unite.dataView}}',
                                   '#unite .item-option__num',
                                   '{{../unite.name}}',
                                   {{../unite.tariffId}},
                                   '{{../unite.tariffName}}'
                                   )">Отправить заявку
                           </div>
                           <div class="price">
                              <span class="old-price">1600 ₽</span>
                              <span class="new-price">{{../unite.priceSale}}</span> <span>₽</span>
                              <span>в месяц</span>
                           </div>
                        </div>
                     </div>
                     <div class="unite__img">
                        <img class="" src="img/pic/router_info_2x.png" alt="router">
                     </div>
                  {{/h-if}}
               {{/each}}
            </div>
         </div>
      </div>
   </div>
</section>
<!--г Москва, ул Набережная, д 4-->