<section class="equipments">
   <div class="wrapper">
      <h1 class="equipments__title">Оборудование</h1>

      <div class="equipments__slider slider">
         {{#each  equipments}}
            <div class="slider__card equipments-card card card_{{id}}">

               {{#if mark}}
                  <div class="equipments-card__mark mark"
                       {{#if @first}}style="background-color: var(--mf-orange)"{{/if}}>
                     <span>{{mark}}</span>
                  </div>
               {{/if}}

               <div class="equipments-card__info info-card">

                  <div class="info-card__img">
                     <img src="img/pic/{{img}}" alt="{{img}}">
                  </div>
                  <h2 class="info-card__title">{{name}}</h2>
                  <p class="info-card__text">{{text}}</p>
               </div>

               <div class="equipments-card__price price-card">
                  <div class="price">
                     {{#if oldPrice}}
                        <span class="old-price">{{oldPrice}} ₽</span>
                     {{/if}}

                     <span class="new-price">
                        {{#if plan}}
                           от {{plan.[36]}}
                        {{else}}
                           {{price}}
                        {{/if}}
                     </span><span class="always">₽</span>

                     <span>в месяц</span>
                     {{#if iconInfo}}
                        <div class="price__icon {{#if (iconInfo @index)}}price__icon_all{{/if}}"></div>
                     {{/if}}
                  </div>
                  <button data-view="block_{{dataView}}"
                          onclick="openOrder('{{dataView}}', '.card_{{id}} .new-price', '{{name}}')"
                          data-toggle="modal"
                          data-target="#order"
                          class="price-card__btn btn"
                  >Заказать
                  </button>

                  {{#if @last}}
                     <div class="link" data-toggle="modal" data-target="#modalAlmond" onclick="openEqAlmond()">
                        Подробнее</div>
                  {{else}}
                     <div class="link" onclick="moreTariff('#{{id}}', {{@index}}, 'details_{{dataView}}')">
                        Подробнее
                     </div>
                  {{/if}}
               </div>
            </div>
         {{/each}}
      </div>

   </div>
</section>