<!--Подробнее Модемы-->
{{#each equipments}}
   {{#h-if id '!==' 'eq-almond'}}
      <div class="modal performance" id="{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
            <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"></button>

            <h1 class="performance__title">{{#if @first}}Приставка {{name}}{{else}}{{name}}{{/if}}</h1>

            {{#if @first}}
               <div class="performance__sale performance-sale">
                  <div class="performance-sale__mark mark">Акция</div>
                  <p class="performance-sale__text">Возьми в аренду Android TV и получи год сериалов в подарок</p>
               </div>
            {{/if}}

            <div class="performance__container">
               <div class="performance__text">
                  <h3>Характеристики {{paramsName name}}:</h3>

                  <ul>
                     {{#each params}}
                        <li>
                           <img src="img/svg/{{icon}}" alt="{{icon}}">
                           <p>{{{text}}}</p>
                        </li>
                     {{/each}}
                  </ul>

                  <div class="performance__download-info download-info">
                     <img src="img/svg/download-pdf.svg" class="download-info__icon" alt="Скачать">
                     <div>
                        <a href="#" class="download-info__link">Скачать подробную информацию</a>
                        <p class="download-info__size">(PDF, 0.4 MB)</p>
                     </div>
                  </div>
               </div>

               <picture class="performance__img">
                  {{#if mobImg}}
                     <source srcset="img/pic/{{mobImg}}" media="(max-width: 767px)">
                  {{/if}}
                  <img src="img/pic/{{img}}" alt="{{img}}">
               </picture>
            </div>

            {{#h-if mark '===' 'РАССРОЧКА'}}
               <div class="performance__radio">
                  <p class="performance__radio-title">
                     Рассрочка
                  </p>
                  <div class="option-radio">

                     <label class="option-radio__radio-btn">
                        <input name="radio-{{../id}}-{{@index}}" id="radio36-id-{{../id}}-{{@index}}"
                               type="radio" value="{{plan.[36]}}" checked>
                        <label for="radio36-id-{{../id}}-{{@index}}"></label>
                        <span>36 мес</span>
                     </label>

                     <label class="option-radio__radio-btn">
                        <input name="radio-{{../id}}-{{@index}}" id="radio24-id-{{../id}}-{{@index}}"
                               type="radio" value="{{plan.[24]}}">
                        <label for="radio24-id-{{../id}}-{{@index}}"></label>
                        <span>24 мес</span>
                     </label>
                  </div>
               </div>
            {{/h-if}}

            <div class="modal-order">
               <div class="modal-order__text">
                  {{#if plan}}
                     <p><span>{{plan.[36]}}</span> ₽ в месяц</p>
                  {{else}}
                     <p><span>{{price}}</span> ₽ в месяц</p>
                  {{/if}}
               </div>
               <button class="btn"
                       type="button"
                       data-toggle="modal"
                       data-target="#order"
                       onclick="openOrder('{{dataView}}', '#{{id}} .modal-order__text span', '{{name}}')"
               >Заказать
               </button>
            </div>
         </div>
      </div>
   </div>
   {{/h-if}}
{{/each}}
{{#with unite}}
   <div class="modal performance" id="{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
            <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"></button>

            <h1 class="performance__title">{{name}}</h1>

            <div class="performance__container">
               <div class="performance__text">
                  <h3>Характеристики роутера:</h3>

                  <ul>
                     {{#each icons}}
                        <li>
                           <img src="img/svg/{{icon}}" alt="{{icon}}">
                           <p>{{{text}}}</p>
                        </li>
                     {{/each}}
                  </ul>

                  <div class="performance__download-info download-info">
                     <img src="img/svg/download-pdf.svg" class="download-info__icon" alt="Скачать">
                     <div>
                        <a href="#" class="download-info__link">Скачать подробную информацию</a>
                        <p class="download-info__size">(PDF, 0.4 MB)</p>
                     </div>
                  </div>
               </div>

               <picture class="performance__img">
                  <img src="img/pic/{{img}}" alt="{{img}}">
               </picture>
            </div>

            <div class="modal-order">
               <div class="modal-order__text">
                  <p><span>{{price}}</span> ₽ в месяц</p>
               </div>
               <button class="btn"
                       type="button"
                       data-toggle="modal"
                       data-target="#order"
                       onclick="openOrder(
                          '{{dataView}}',
                          '#{{id}} .modal-order__text span',
                          '{{name}}',
                          {{tariffId}},
                          '{{tariffName}}'
                          )"
               >Заказать
               </button>
            </div>
         </div>
      </div>
   </div>
{{/with}}